@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    If you have question on the problems, please discuss at Discuss, or you can contact <a href="mailto:hellis@foxmail.com">hellis@foxmail.com</a><br />
    <strong>About the Online Judge System</strong><br />
    If you are interested in the Online Judge System, you can get the source code from <a href="https://github.com/HellisNettle">GitHub</a><br />
    Any other problems please contact Hellis<br />
    <strong>if you interested in ACM/ICPC, Join us!</strong><br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hellis@foxmail.com">hellis@foxmail.com</a><br />
</address>
<p> API : // GET: /Account/TestUsersRegister </p>
<p> API : // GET: /Problem/TestSubmitTry?pid=1001&_source=xx&name=yy </p>