@{
    ViewBag.Title = "HUST SimCode System";
}

<style type="text/CSS">
    div.alert-success {
        padding: 30px;
    }
</style>

<div class="jumbotron">
    <h2>Welcome To HUST SimCode System</h2>
</div>
<div>
    <div class="row">
        <div class="col-md-4">
            <a class="alert alert-success btn-block" href="http://acm.hust.edu.cn/"><p class="text-center">HUST ACM Online Judge</p></a>
        </div>
        <div class="col-md-4">
            <a class="alert alert-success  btn-block"><p class="text-center">Developing</p></a>
        </div>
        <div class="col-md-4">
            <a class="alert alert-success  btn-block" href="http://acm.hust.edu.cn/vjudge"><p class="text-center">HUST ACM Virtual Judge</p></a>
        </div>
    </div>
    <div class="row">

    </div>
</div>