
@{
    ViewBag.Title = "JudgeInfo";
}

<h2>JudgeInfo</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sub ID</th>
            <th>Judge Time</th>
        </tr>
    </thead>
    @foreach (var item in ViewBag.Info)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
</table>